
:root {
    --ui-opacity: 0.8;
    --highlight: rgb(60, 60, 180);
    --highlight-lesser: rgb(100, 100, 220);
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;

    background-color: #555;
}

/* TODO: embed in centering div */
#game-container {

    width: 98%;
    height: 98%;

    position: absolute;
    left: 8px;
    top: 8px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.grid {
    position: relative;
}

.grid > div {
    
    display: inline-flex;
    border: 2px solid rgba(50, 50, 50, var(--ui-opacity));
    flex: 3 29%;

    /*
    width: 1.4em;
    height: 1.4em;
    */
}

.cell {
    border: 1px dashed gray;
    flex: 3 29%;
}

.cell:hover {
    background-color: var(--highlight-lesser);
}

.active, .highlight {
    background-color: var(--highlight);
}

.active { 
    border: 1px solid blue;
}
